:root{
    --primary-color: white;
    --secondary-color: #828282;
    --tertiary-color: black;

    --shadow-color: rgba(0, 0, 0, 0.5);

    --light-green-color: #48924F;
    --dark-green-color: #0D4D14;
}